<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_SmartFit_Android_App"
        tools:targetApi="31">
        <activity
            android:name=".NutritionSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AssignMealToUserActivity"
            android:exported="false" />
        <activity
            android:name=".NutritionAddMealActivity"
            android:exported="false" />
        <activity
            android:name=".NutritionMealActivity"
            android:exported="false" />
        <activity
            android:name=".NutritionistDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AssignWorkoutToUserActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerAddWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".PendingAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutsActivity"
            android:exported="false" />
        <activity
            android:name=".UserNotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".UserAccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".NearestHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".SOSCallActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutSessionActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".NutritionPlanActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutsHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>